/*
* Programmer : Dr.-Ing. Bader Juma
* Date       : August 07, 2019
* File       : rubicstyle.css
* Purpose    : external file that contain style
*/

 
  .bgColor, body{
   background-color: #BBBDB4;
  }

     a  {
	  color: #046e6c;
     }
	 
  .active {
	  background-color: #23B9B7;
  }
  
  .rubikStyle {
	  color: #046e6c;
  }
  
  .buttonStyle {
	  background-color: #23B9B7;
	  color: #ffffff;
               }
   .buttonStyle:hover {
	  /*background-color: #3e8e41*/
	  background-color: #065453;
	                  }
	  
  .buttonStyle:active{
	  /*background-color: #3e8e41*/
	  background-color: #052b2b;
	  }
	  
	  
  


  
  .grid-container {
   /* clear: both; */
   display: grid;
  background-color: #89905B; 
   
   grid-template-columns: auto auto auto auto;
  
   
                }
	.grid-item {margin: .5em; }
   
    table, td {border: 1px solid #fdcb6e;}
	
	td {padding: 1em;}	
	
	  @media screen and (max-width: 500px) {
		  td {padding: .25em;}
		  .grid-item {margin: 0.1em;}
		   #footer{position: static;}
		   }